body {
    background: #F0F0F0!important;
}
.logo {
    width: 105px;
    height: 105px;
}
h1, h2 {
    text-align: center;
    font-weight: bold!important;
}
.nav-link {
    color: black!important;
}


.circle {
    border-radius: 50%;
    width: 105px;
    height: 105px;
    border: 7px solid white;
    box-sizing: border-box;
}
.circle-sm {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}
.c-red {
    background: #e6563b;
}
.c-orange {
    background: #Eb9d3a;
}
.c-green {
    background: #7cb06c;
}
.c-blue {
    background: #00aba9;
}
.circle-text {
    color: white;
    text-align: center;
    margin-top: 2em;
    font-family: "Anton";
}
.circle-text-sm {
    color: black;
    text-align: center;
    font-size: .5em;
    font-family: "Anton";
    padding-top: 2px;
}
.pic-border {
    border: #E6E6E6 solid 10px;
    border-radius: 5px;
}
.pic-title {
    text-align: left;
}
.no-padding {
    padding-right: 0;
    padding-left: 0;
}

/*font-family: 'Abel', sans-serif;*/
/*font-family: 'Anton', sans-serif;*/