body {
    background: #F0F0F0!important;
}
.mx-width {
    width: 992px;
}

.logo {
    width: 105px;
    height: 105px;
}
.ls-style {
    list-style: none;
}
h1, h2 {
    text-align: center;
    font-weight: bold!important;
}
.nav-link {
    color: black!important;
}
.circle {
    border-radius: 50%;
    width: 105px;
    height: 105px;
    border: 7px solid white;
    box-sizing: border-box;
    margin: 0 auto;
}
.circle-sm {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}
.col-1 {
    padding: 0!important;
}
.container {
    max-width: 991px!important;
}
.c-red {
    background: #e6563b;
}
.c-orange {
    background: #Eb9d3a;
}
.c-green {
    background: #7cb06c;
}
.c-blue {
    background: #00aba9;
}
.circle-text {
    color: white;
    text-align: center;
    margin-top: 2em;
    font-family: "Anton";
}
.circle-text-sm {
    color: black;
    text-align: center;
    font-size: .5em;
    font-family: "Anton";
    padding-top: 2px;
}
.pic-border {
    border: #E6E6E6 solid 10px;
    border-radius: 5px;
}
.pic-title {
    text-align: left;
}
.no-padding {
    padding-right: 0;
    padding-left: 0;
}
.top-nav {
    text-align: center;
    color: black;
}
.fnt-abl1 {
    font-family: 'Abel', sans-serif;
    font-size: 59px;
}
.fnt-abl2 {
    font-family: 'Abel', sans-serif;
    font-size: 19px;
}
.fnt-abl3 {
    font-family: 'Abel', sans-serif;
    font-size: 12px;
}
.fnt-ant1 {
    font-family: 'Anton', sans-serif;
    font-size: 64px;
}
.fnt-ant2 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}
.fnt-ant3 {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}
body {
    max-width: 768px;
    margin: auto;
}
.ls-style {
    list-style: none;
    display: inline;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}